#sorting-visualizer-container {
  display: flex;
  height: 100vh;
}

#sorting-visualizer-options {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0; /* Adjust background color as needed */
}

#sorting-visualizer-svg {
  flex: 4;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0; /* Adjust background color as needed */
}

#sorting-visualizer-svg {
  max-width: 100%;
  padding: 20px; /* Add padding around the SVG */
  box-sizing: border-box; /* Include padding in the width calculation */
}
